/*  import google fonts */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about,
.services,
.skills,
.project,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}

.about .about-content,
.services,

.contact .contact-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.serv-content {
  /* border: 1px solid red; */
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;


}

.serv-content .card {
  margin: 2rem;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #06d6a0;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: #24023bed;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #42c3d1;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: rgb(110, 162, 240);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #24023bed;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

.navbar.sticky .menu li a {
  color: #000;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #000;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #06d6a0;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background: url("./images/saBg.jpeg") no-repeat center;
  background-color: #111;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
}

.home-content {
  /* border: 1px solid green; */
  width: 100%;
  text-align: center;
}

.lastname {
  color: #42c3d1;
}

.home .home-content .text-1 {
  font-size: 30px;
}

.home .home-content .text-2 {
  font-size: 100px;
  font-weight: 600;


}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;

}

.home .home-content .text-3 span {
  /* color: #24023bed; */
  color: #8d4cb8ed;
  /* text-decoration: underline; */
  /* background: rgb(41, 49, 137); */
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  /* background: #06d6a0; */
  color: rgb(251, 243, 251);
  font-size: 25px;

  background-color: rgba(176, 85, 176, 0.435);
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 6px;
  border: 2px solid rgba(152, 11, 152, 0.826);
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  /* color:; */
  background: none;
}

/* about section styling */
.about {


  background-image: url("./images/abg2.webp");
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url("https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"); */

}



.about .about-content .left {
  width: 45%;
  /* border: 2px solid red; */
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 200px 200px;
}

.about .about-content .right {
  width: 55%;
  color: white;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}

.about .about-content .right .text span {
  color: #06d6a0;

}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: #06d6a0;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #06d6a0;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: #06d6a0;
  background: none;
}


.about .title::after {

  color: red;
}


/* git hub calender */

.section__title {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 30px;

}


/* services section styling */
.services,
.project {
  color: #fff;

  background-image: url("./images/bg1.png");
  background-size: cover;
  /* background-attachment: fixed; */


}

.services .title::before,
.project .title::before {

  background: #fff;
}

.services .title::after,
.project .title::after {
  background: #111;

}

.services .serv-content .card {
  display: flex;

  height: 300px;
  width: 260px;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  border: 1px solid violet;
  border-radius: 10px;



}

.services .serv-content .card:hover {
  background-color: rgba(71, 62, 74, 0.158);

  border: 1px solid rgba(205, 71, 250, 0.847);
  border-radius: 10px;
  width: 280px;
  height: 320px;
  /* change*/
}

.services .serv-content .card .box {
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card i {
  font-size: 50px;
  color: rgb(21, 90, 200);
  transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
  color: rgb(104, 41, 186);
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* skillss section */
.skills {
  background-image: url("./images/abg2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.skills-content {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto)
}

.serv-content .gcal {
  width: 100%;
  height: 150px;
}

.simg {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 1rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sc .card {
  border: 1px solid violet;
  height: 180px;
  width: 160px;
  border-radius: 10px;
  background: rgba(24, 6, 50, 0.881);
  ;
}

.sc>.card {
  margin-bottom: 2rem;
}


.sbox {
  /* border: 1px solid orange; */
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

.sbox>.text {
  color: rgb(225, 216, 216)
}






/* project section styling */

.projectSection {
  /* border:1px solid red;  */
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 2rem;


}

.prjCard {
  border: 2px solid white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  height: 350px;
  overflow: hidden;
  /* border:1px solid green; */
}

.innerdiv {
  /* border: 1px solid white; */
  border-radius: 1rem;
  overflow: hidden;
}

.innerdiv img {
  display: block;
  width: 100%;

  margin: auto;
  box-sizing: border-box;

  height: 350px;
}

.ptitle {
  margin: 10px;
}

.innerdiv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: justify;
}

.ptechstacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 10px;
}

.ptechstacks div {
  padding: 10px;
  border: 1px solid violet;
  border-radius: 5px;
}

#pbtns {
  min-width: 50px;
}



/* contact section styling */
#contact {
  background-image: url("./images/bg1.png");
  color: white;

}

.contact .contact-content .column {
  /* width: calc(50% - 0); */
  width: 70%;
  min-height: fit-content;
  border: 2px solid violet;
  border-radius: 10px;
  padding: 2rem;

}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-bottom: 2rem;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right form .button-area button {
  color: #fff;

  width: 200px !important;
  height: auto;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  transition: all 0.3s ease;

}

/* updated contact */
.ContactStructure {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ContactStructure .details {

  border: 2px solid violet;
  text-align: center;
  min-width: 180px;
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.ContactStructure .details .icons {
  width: 100px;
  font-size: 50px;
  color: #2708a5;
  /* border: 2px solid red; */
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: #06d6a0;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1250px) {
  .logo {
    display: none;
  }

}

@media (max-width: 1104px) {
  .about .about-content .left {
    height: 350px;
    width: 350px;
  }

}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .logo {
    display: block;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width {
    max-width: 930px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  /* skills */
  .skills-content {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto)
  }

  /* projects updated */


  .prjCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 600px;
    column-gap: 2rem;
    height: 650px;
    /* border:1px solid green; */
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .services .serv-content .card {
    width: 100%;
  }

  /* skills */
  .skills-content {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto)
  }

  /* projects */


  .prjCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    column-gap: 2rem;
    height: auto;
    /* border:1px solid green; */
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }

  .about .about-content .right .text {
    font-size: 19px;
  }

  .imageleft {
    width: 100%;
  }

  #sumedhimg {
    width: 250px;
  }


  .contact .contact-content .column {
    /* width: calc(50% - 0); */
    width: 90%;
    min-height: fit-content;
    border: 2px solid violet;
    border-radius: 10px;
    padding: 2rem;

  }

  .contact .right form .fields {
    flex-direction: column;
  }

  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }

  .right form .error-box {
    width: 150px;
  }

  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}



/* _______________________________________________________________________________________________ */


.github-st {
  background-image: url("./images/abg2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.github-stats-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-top: 50px;
  grid-gap: 40px;
}


.github-stat {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}


.github-stat img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  padding: 10px 30px;
}


/* .github-st .title::after {
content: "see my work";
} */

.github-stat:hover img {
  transform: scale(1.1);
}

.mb-0 {
  text-align: center;
  margin-bottom: -2%;
  padding-top: 50px;
  justify-content: center;
}

/*  Stat*/

.heading {
  text-align: center;
}




/* responsive media query start */


@media (max-width: 1104px) {

  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .max-width {
    max-width: 930px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .services .serv-content .card {
    width: 100%;
  }

  .github-stat {
    width: 300px;
    font-size: 8px;
  }

  .github-stat {
    width: 100%;
    font-size: 8px;
  }

  .container {
    text-align: center;

  }

  .cont-box-1>img {
    width: 45px;
    height: 45px;
  }

  .github-stat>img {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }

  .pro-info>div>img {
    width: 50px;
    height: 50px;

  }



  .github-stats-list {

    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
  }


}



@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }

  .about .about-content .right .text {
    font-size: 19px;
  }

  .contact .right form .fields {
    flex-direction: column;
  }

  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }

  .right form .error-box {
    width: 150px;
  }

  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }

  .project-main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .github-stat {
    width: 100%;
    font-size: 8px;
  }

  .container {
    text-align: center;
  }

  .cont-box-1>img {
    width: 45px;
    height: 45px;
  }

  .github-stat>img {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }

  .pro-info>div>img {
    width: 50px;
    height: 50px;

  }

  .github-stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
  }

  .my-cont {
    margin: 0 auto;
    width: 100%;
  }

  .my-cont>.cont-box-1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 1.5%;
    background-color: #000;

  }

  .contact {
    margin-top: -30%;
  }

  /* project */


  .innerleft {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
    height: 250px;

  }

  .innerleft img {
    width: 100%;

  }

  .innerdiv {
    border: none;
  }


  .prjCard {
    display: grid;
    height: auto;
    border: 1.5px solid violet;
    border-radius: 15px;
  }

}

@media (max-width: 400px) {


  .slogo {
    display: none;
  }

  .sc .card {
    border: 1px solid violet;
    height: 150px;
    width: 120px;
    border-radius: 10px;
    background: rgba(24, 6, 50, 0.881);
    ;
  }

  .sc>.card {
    margin-bottom: 2rem;
  }

  .sbox {
    /* border: 1px solid orange; */
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
  }

  .sbox>.text {
    color: rgb(225, 216, 216)
  }





}


/* __________________________________________________________________ */






:root {
  --color-calendar-graph-day-bg: #dddbdb;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

rect.ContributionCalendar-day[data-level='0'] {
  fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level='1'] {
  fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level='2'] {
  fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level='3'] {
  fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level='4'] {
  fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full>.float-left {
  display: none;
}

.calendar {
  width: 80%;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 1%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.git {
  background-color: #101010;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: rgb(128, 123, 123);
}

.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}

.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.text-small {
  font-size: 12px;
  color: #181717;
}

.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #b5adad;
}

.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}

.monospace a {
  color: #1D75AB;
  text-decoration: none;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

.left.text-muted {
  float: left;
  margin-left: 9px;
  color: #2d2c2c;
}

.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}

.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
  display: none;
}

.float-left.text-gray {
  float: left;
}

#user-activity-overview {
  display: none;
}

.day-tooltip {
  white-space: nowrap;
  position: absolute;
  z-index: 99999;
  padding: 10px;
  font-size: 12px;
  color: #959da5;
  text-align: center;
  background: rgba(0, 0, 0, .85);
  border-radius: 3px;
  display: none;
  pointer-events: none;
}

.day-tooltip strong {
  color: #dfe2e5;
}

.day-tooltip.is-visible {
  display: block;
}

.day-tooltip:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  margin: 0 0 0 -5px;
  content: " ";
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, .85)
}

text.ContributionCalendar-label {
  fill: #ccc;
  font-size: 11px;
}




/* on hover button */

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.title button {
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid violet;
}

/* logo */
.slogo {
  height: 40px;
}

/* button 85 navbar */
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #350767,
      #1335dd,
      #00ffd5,
      #002bff,
      #7a00ff,

      #170c41);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}







/* home page text */